.hourly-scoreboard-header {
    margin-top: 10px;
    margin-left: 10px;
    font-weight: bold;
}

.hourly-scoreboard-table-pagination {
    margin-top: 20px;
}

.hourly-scoreboard-table-pagination * {

    margin-bottom: 0px;
    padding-bottom: 5px;
}

.time-picker{
    border-radius: 5px;
    padding: 5px;
}

.react-time-picker__wrapper{
    border-radius: 5px;
    padding: 5px;
    width: 30vh;
}

.bd{
    padding: 5px;
    border-radius: 5px;
}

.sc-tr{
    cursor: pointer;
}