.hourly-scoreboard-header {
    margin-top: 10px;
    margin-left: 10px
}

.hourly-scoreboard-table-pagination {
    margin-top: 20px;
}

.hourly-scoreboard-table-pagination * {

    margin-bottom: 0px;
    padding-bottom: 5px;
}