
.block, .block-red, .block-green{
	border:  2px solid blue;
	font-weight: bold;
	padding: 10px 20px;
	border-radius: 5px;
	text-align: center;
	margin-right: 10px;
}

.block-red{
	border:  2px solid red;
}

.block-green{
	border:  2px solid green;
}

.chart{
	margin-top: 5rem;
}